
*.m~

Propeller Characterization/speed_sweep_apc_BI_RH_rigid_76_0-0_(0)-(0)_2016-12-01_T132826.mat

Propeller Characterization/speed_sweep_apc_BI_rigid_76_0-0_(0)-(0)_2016-12-01_T131029.mat

Propeller Characterization/speed_sweep_apc_R_rigid_76_0-0_(0)-(0)_2016-12-01_T134541.mat

Propeller Characterization/speed_sweep_apc_BI_LH_rigid_76_0-0_(0)-(0)_2016-12-01_T131029.mat
